# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/mainffc

# Alternative MongoDB Atlas connection string format:
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/vehicle_management?retryWrites=true&w=majority

# Next.js Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Email Configuration for OTP
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=rrrf00069@gmail.com
EMAIL_PASS=lmelokxzxntcuuer
FROM_EMAIL=rrrf00069@gmail.com